.faca-streaming {
  height: 450vh;
  background-color: black;
  color: white;
  font-size: 80px;
  line-height: 100px;
  font-weight: 600;
}

.faca-streaming__container-parte1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.faca-streaming__container-musicas-noticias {
  display: flex;
  flex-direction: column;
  height: 100px;
  z-index: 1;
  width: 100%;
  text-align: center;
  position: relative;
}

.faca-streaming__texto-musicas {
  transform: translateY(var(--str-cat1-y));
  opacity: var(--str-cat1-opacity);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: opacity, transform;
}

.faca-streaming__texto-noticias {
  transform: translateY(var(--str-cat2-y));
  opacity: var(--str-cat2-opacity);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: opacity, transform;
}

.faca-streaming__container-parte2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faca-streaming__parte2__titulo {
  font-size: 38px;
  line-height: 50px;
  font-size: 38px;
  line-height: 50px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 600ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.in-viewport .faca-streaming__parte2__titulo {
  font-size: 38px;
  line-height: 50px;
  font-size: 38px;
  line-height: 50px;
  opacity: 1;
  transform: translateY(0);
}

.faca-streaming__parte2__descricao {
  font-size: 18px;
  font-size: 18px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 600ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.15s;
}

.in-viewport .faca-streaming__parte2__descricao {
  opacity: 1;
  transform: translateY(0);
}

.faca-streaming__parte2__container-parceiros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 600ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.45s;
}

.in-viewport .faca-streaming__parte2__container-parceiros {
  opacity: 1;
  transform: translateY(0);
}

.faca-streaming__parte2__botao {
  background-color: transparent;
  font-size: 18px;
  border-color: white;
  color: white;
  height: 42px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
}

.in-viewport .faca-streaming__parte2__botao {
  opacity: 1;
  transform: translateY(0);
}

.faca-streaming__parte2__parceiro {
  font-size: 18px;
  width: 140px;
  height: 140px;
  text-align: center;
  margin: 16px 42px;
  background-color: #222;
  border-radius: 8px;
}

.faca-streaming__container-parte3 {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content: center;
  text-align: center;
}

.faca-streaming__container2-parte3 {
  position: sticky;
  top: 10vh;
  height: 100vh;
  width: 100vw;
}

.faca-streaming__parte3__titulo {
  font-size: 38px;
  line-height: 50px;
}

.faca-streamming__container-imagem3 {
  position: relative;
  padding-top: 60px;
}

.faca-streamming__container2-imagem3 {
  height: calc(100vh - 230px);
  justify-content: flex-end;
  max-width: 600px;
  width: 75%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 10;
}

.faca-streamming__imagem3 {
  background-image: url(https://lh3.googleusercontent.com/WNE1hpG1bJjWhUYWezGz5YihJFUU8Ed1oZZT1QyCYS9PrYF3FLaYN1YfCwZr9sTDivXWOcjigqD8Kx0R3QLlBww=rw-w640);
  background-position: top;
  background-size: cover;
  height: auto;
  padding-top: 106.25%;
  position: relative;
  width: 100%;
}

.faca-streamming__parte3__texto1 {
  background-color: white;
  color: black;
  position: absolute;
  top: 10%;
  right: 12%;
  border-radius: 32px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faca-streamming__parte3__texto2 {
  background-color: white;
  color: black;
  position: absolute;
  top: calc(50% - 170px);
  left: 10%;
  border-radius: 32px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faca-streamming__parte3__texto3 {
  background-color: white;
  color: black;
  position: absolute;
  top: 40%;
  left: 67%;
  border-radius: 32px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faca-streamming__parte3__texto4 {
  background-color: white;
  color: black;
  position: absolute;
  top: 60%;
  right: 66%;
  border-radius: 32px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faca-streamming__parte3__texto5 {
  background-color: white;
  color: black;
  position: absolute;
  top: 75%;
  left: 8%;
  border-radius: 32px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faca-streamming__parte3__texto6 {
  background-color: white;
  color: black;
  position: absolute;
  top: 65%;
  right: 9%;
  border-radius: 32px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.in-viewport .faca-streamming__parte3__texto1 {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.15s;
}

.in-viewport .faca-streamming__parte3__texto2 {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.3s;
}

.in-viewport .faca-streamming__parte3__texto3 {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.45s;
}

.in-viewport .faca-streamming__parte3__texto4 {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.6s;
}

.in-viewport .faca-streamming__parte3__texto5 {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.6s;
}

.in-viewport .faca-streamming__parte3__texto6 {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.6s;
}

.faca-streamming__parte3_scrollspace {
  height: 100vh;
  background-color: black;
}
